# ignore everything, explicitly include what we want
# ensures we don't accidentally check in any secrets
*
!.gitignore
!*.yaml
!*.md
!conf
!conf/*
!docker-compose.yml

!esphome

.storage
.db
.cloud
.google.token

ip_bans.yaml
secrets.yaml
known_devices.yaml
.env
